body{
  background-color: #7a7a7a;
}



.topcorner{
    position:absolute;
    top: 20px;
    right: 15px;
    color: white;
    font-size: 16;
 }

h1{
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 16;
}
